# Test Case untuk Module Cashier

In [1]:
import cashier as c

## Test Case 1: Menambahkan Item

In [2]:
transaksi = c.Transaction()
transaksi.add_item("Ayam Goreng", 2, 20_000)
transaksi.add_item("Pasta Gigi", 3, 15_000)

Menambahkan ke dalam pesanan: Ayam Goreng sejumlah 2 dengan harga Rp 20000.
Menambahkan ke dalam pesanan: Pasta Gigi sejumlah 3 dengan harga Rp 15000.

## Test Case 2: Menghapus Item

In [3]:
transaksi.delete_item("Pasta Gigi")

Menghapus pesanan Pasta Gigi.

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ayam Goreng |             2 |        20000 |         40000 |

## Test Case 3: Mereset Transaksi

In [4]:
transaksi.reset_transaction()

Semua item berhasil dihapus.

## Test Case 4: Menghitung Total Belanja

In [5]:
transaksi = c.Transaction()
transaksi.add_item("Ayam Goreng", 2, 20_000)
transaksi.add_item("Pasta Gigi", 3, 15_000)

Menambahkan ke dalam pesanan: Ayam Goreng sejumlah 2 dengan harga Rp 20000.
Menambahkan ke dalam pesanan: Pasta Gigi sejumlah 3 dengan harga Rp 15000.

In [6]:
transaksi.total_price()

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ayam Goreng |             2 |        20000 |         40000 |
| Pasta Gigi  |             3 |        15000 |         45000 |
Pemesanan sudah benar.
Total belanja Anda adalah Rp 85000.

## Test Case 5: Mengupdate Nama Item

In [7]:
transaksi = c.Transaction()
transaksi.add_item("Teh Kotak", 10, 3_500)
transaksi.add_item("Chitato", 5, 6_000)
transaksi.add_item("Roti Tawar", 20, 12_000)

Menambahkan ke dalam pesanan: Teh Kotak sejumlah 10 dengan harga Rp 3500.
Menambahkan ke dalam pesanan: Chitato sejumlah 5 dengan harga Rp 6000.
Menambahkan ke dalam pesanan: Roti Tawar sejumlah 20 dengan harga Rp 12000.

In [8]:
transaksi.update_item_name("Teh Kotak", "Teh Botol")

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Chitato     |             5 |         6000 |         30000 |
| Roti Tawar  |            20 |        12000 |        240000 |
| Teh Botol   |            10 |         3500 |         35000 |
Mengubah nama item Teh Kotak menjadi Teh Botol.

## Test Case 6: Mengupdate Jumlah Item

In [9]:
transaksi.update_item_qty("Chitato", 7)

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Chitato     |             7 |         6000 |         42000 |
| Roti Tawar  |            20 |        12000 |        240000 |
| Teh Botol   |            10 |         3500 |         35000 |
Mengubah jumlah item Chitato menjadi 7.

## Test Case 7: Mengupdate Harga Item

In [10]:
transaksi.update_item_price("Roti Tawar", 10_000)

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Chitato     |             7 |         6000 |         42000 |
| Roti Tawar  |            20 |        10000 |        200000 |
| Teh Botol   |            10 |         3500 |         35000 |
Mengubah harga item Roti Tawar menjadi 10000.

## Test Case 8: Menghitung Total Belanja dan Diskon

In [11]:
transaksi.total_price()

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Chitato     |             7 |         6000 |         42000 |
| Roti Tawar  |            20 |        10000 |        200000 |
| Teh Botol   |            10 |         3500 |         35000 |
Pemesanan sudah benar.
Anda mendapatkan diskon 5% sebesar Rp 13850. Total belanja Anda adalah Rp 263150 (sudah termasuk diskon).

## Test Case 9: Penginputan Data Bukan Integer

In [12]:
transaksi.add_item("Teh Kotak", "empat puluh", 3_500)

Jumlah barang harus berupa angka!

In [13]:
transaksi.update_item_price("Teh Botol", "tujuh")

Harga barang harus berupa angka!

## Test Case 10: Terdapat Kesalahan Input Pada Transaksi

In [14]:
transaksi = c.Transaction()
transaksi.add_item("Teh Kotak", -40, 3_500)
transaksi.add_item("Roti Tawar", 12, 10_000)
transaksi.add_item("Chitato", 3, 6_000)

Menambahkan ke dalam pesanan: Teh Kotak sejumlah -40 dengan harga Rp 3500.
Menambahkan ke dalam pesanan: Roti Tawar sejumlah 12 dengan harga Rp 10000.
Menambahkan ke dalam pesanan: Chitato sejumlah 3 dengan harga Rp 6000.

In [15]:
transaksi.check_order()

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Teh Kotak   |           -40 |         3500 |       -140000 |
| Roti Tawar  |            12 |        10000 |        120000 |
| Chitato     |             3 |         6000 |         18000 |
Terdapat kesalahan input jumlah/harga. Mohon cek ulang pesanan.

In [16]:
transaksi.total_price()

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Teh Kotak   |           -40 |         3500 |       -140000 |
| Roti Tawar  |            12 |        10000 |        120000 |
| Chitato     |             3 |         6000 |         18000 |
Terdapat kesalahan input jumlah/harga. Mohon cek ulang pesanan.
Total belanja belum bisa dihitung selama masih ada kesalahan input.